matplotlib==3.4.3
matplotlib-inline==0.1.3
opencv-python-headless
numpy==1.21.2
packaging==19.2
pandas==1.3.3
Pillow==8.3.2
scikit-learn==1.0.2
scipy==1.7.3
sklearn==0.0
nltk==3.5
streamlit==1.5
streamlit-option-menu==0.2.10
zipfile36==3.6
